window,
list {
  background: #555;
}

.category-label {
  color: white;
}

.item-count {
  background-color: #EEE;
  color: black;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 12px;
  min-width: 12px;
  padding: 2px 5px 1px;
}

.expanded {
  animation: expand 1 forwards 200ms;
}

.collapsed {
  animation: collapse 1 forwards 200ms;
}

@keyframes collapse {
  from { -gtk-icon-transform: rotate(90deg); }
  to   { -gtk-icon-transform: rotate(0deg); }
}

@keyframes expand {
  from { -gtk-icon-transform: rotate(0deg); }
  to   { -gtk-icon-transform: rotate(90deg); }
}