.feedlist {
  background: #555;
}

.feedlist .activatable {
	box-shadow: None;
}

.feedlist row {
	border-top: none;
  border-bottom: none;
  padding: 0;
}

.feedlist row:not(.hidden) {
	border-top: 1px solid alpha (black, 0);
	border-bottom: 1px solid alpha (black, 0);
}

.feedlist row:selected {
	background: linear-gradient(#6f6f6f, #747474, #6f6f6f);
	border-top: 1px solid alpha(black, 0.15);
	border-bottom: 1px solid alpha(black, 0.15);
}

.category-label {
  color: white;
}

.feedlist-drag-before {
  border-bottom: 1px solid white;
}

.feedlist-drag-after {
  border-top: 1px solid white;
}

.feedlist-drag-icon {
  background: #555;
  border: 1px solid white;
}

.item-count {
  background-color: #EEE;
  color: black;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 12px;
  min-width: 12px;
  padding: 2px 5px 1px;
}

.expanded {
  animation: expand 1 forwards 200ms;
}

.collapsed {
  animation: collapse 1 forwards 200ms;
}

@keyframes collapse {
  from { -gtk-icon-transform: rotate(90deg); }
  to   { -gtk-icon-transform: rotate(0deg); }
}

@keyframes expand {
  from { -gtk-icon-transform: rotate(0deg); }
  to   { -gtk-icon-transform: rotate(90deg); }
}